node_modules
.env*
.next/dev/build-manifest.json
.next/dev/fallback-build-manifest.json
.next/dev/lock
.next/dev/package.json
.next/dev/prerender-manifest.json
.next/dev/routes-manifest.json
.next/dev/trace
.next/dev/build/package.json
.next/dev/build/postcss.js
.next/dev/build/postcss.js.map
.next/dev/build/chunks/\[root-of-the-server]__51225daf._.js
.next/dev/build/chunks/\[root-of-the-server]__51225daf._.js.map
.next/dev/build/chunks/\[root-of-the-server]__974941ed._.js
.next/dev/build/chunks/\[root-of-the-server]__974941ed._.js.map
.next/dev/build/chunks/\[turbopack-node]_transforms_postcss_ts_7180740f._.js
.next/dev/build/chunks/\[turbopack-node]_transforms_postcss_ts_7180740f._.js.map
.next/dev/build/chunks/\[turbopack]_runtime.js
.next/dev/build/chunks/\[turbopack]_runtime.js.map
.next/dev/build/chunks/node_modules_fe693df6._.js
.next/dev/build/chunks/node_modules_fe693df6._.js.map
.next/dev/cache/.rscinfo
.next/dev/cache/next-devtools-config.json
.next/dev/logs/next-development.log
.next/dev/server/app-paths-manifest.json
.next/dev/server/interception-route-rewrite-manifest.js
.next/dev/server/middleware-build-manifest.js
.next/dev/server/middleware-manifest.json
.next/dev/server/next-font-manifest.js
.next/dev/server/next-font-manifest.json
.next/dev/server/pages-manifest.json
.next/dev/server/server-reference-manifest.js
.next/dev/server/server-reference-manifest.json
.next/dev/server/app/page_client-reference-manifest.js
.next/dev/server/app/page.js
.next/dev/server/app/page.js.map
.next/dev/server/app/page/app-paths-manifest.json
.next/dev/server/app/page/build-manifest.json
.next/dev/server/app/page/next-font-manifest.json
.next/dev/server/app/page/react-loadable-manifest.json
.next/dev/server/app/page/server-reference-manifest.json
.next/dev/server/chunks/ssr/_next-internal_server_app_page_actions_39d4fc33.js
.next/dev/server/chunks/ssr/_next-internal_server_app_page_actions_39d4fc33.js.map
.next/dev/server/chunks/ssr/\[root-of-the-server]__1aaf5479._.js
.next/dev/server/chunks/ssr/\[root-of-the-server]__1aaf5479._.js.map
.next/dev/server/chunks/ssr/\[root-of-the-server]__3a6fd3b8._.js
.next/dev/server/chunks/ssr/\[root-of-the-server]__3a6fd3b8._.js.map
.next/dev/server/chunks/ssr/\[root-of-the-server]__3e5a9ba9._.js
.next/dev/server/chunks/ssr/\[root-of-the-server]__3e5a9ba9._.js.map
.next/dev/server/chunks/ssr/\[root-of-the-server]__7f148858._.js
.next/dev/server/chunks/ssr/\[root-of-the-server]__7f148858._.js.map
.next/dev/server/chunks/ssr/\[root-of-the-server]__8dffb09a._.js
.next/dev/server/chunks/ssr/\[root-of-the-server]__8dffb09a._.js.map
.next/dev/server/chunks/ssr/\[root-of-the-server]__9f4f5672._.js
.next/dev/server/chunks/ssr/\[root-of-the-server]__9f4f5672._.js.map
.next/dev/server/chunks/ssr/\[root-of-the-server]__83feea7f._.js
.next/dev/server/chunks/ssr/\[root-of-the-server]__83feea7f._.js.map
.next/dev/server/chunks/ssr/\[root-of-the-server]__3961d915._.js
.next/dev/server/chunks/ssr/\[root-of-the-server]__3961d915._.js.map
.next/dev/server/chunks/ssr/\[root-of-the-server]__95719760._.js
.next/dev/server/chunks/ssr/\[root-of-the-server]__95719760._.js.map
.next/dev/server/chunks/ssr/\[root-of-the-server]__b02e44ec._.js
.next/dev/server/chunks/ssr/\[root-of-the-server]__b02e44ec._.js.map
.next/dev/server/chunks/ssr/\[turbopack]_runtime.js
.next/dev/server/chunks/ssr/\[turbopack]_runtime.js.map
.next/dev/server/chunks/ssr/node_modules_d0a04ffb._.js
.next/dev/server/chunks/ssr/node_modules_d0a04ffb._.js.map
.next/dev/server/chunks/ssr/node_modules_faaba5f1._.js
.next/dev/server/chunks/ssr/node_modules_faaba5f1._.js.map
.next/dev/server/chunks/ssr/node_modules_next_dist_2eb74c46._.js
.next/dev/server/chunks/ssr/node_modules_next_dist_2eb74c46._.js.map
.next/dev/server/chunks/ssr/node_modules_next_dist_3b4d20e1._.js
.next/dev/server/chunks/ssr/node_modules_next_dist_3b4d20e1._.js.map
.next/dev/server/chunks/ssr/node_modules_next_dist_179b90d2._.js
.next/dev/server/chunks/ssr/node_modules_next_dist_179b90d2._.js.map
.next/dev/server/chunks/ssr/node_modules_next_dist_client_components_9774470f._.js
.next/dev/server/chunks/ssr/node_modules_next_dist_client_components_9774470f._.js.map
.next/dev/server/chunks/ssr/node_modules_next_dist_client_components_builtin_forbidden_45780354.js
.next/dev/server/chunks/ssr/node_modules_next_dist_client_components_builtin_forbidden_45780354.js.map
.next/dev/server/chunks/ssr/node_modules_next_dist_client_components_builtin_global-error_ece394eb.js
.next/dev/server/chunks/ssr/node_modules_next_dist_client_components_builtin_global-error_ece394eb.js.map
.next/dev/server/chunks/ssr/node_modules_next_dist_client_components_builtin_unauthorized_15817684.js
.next/dev/server/chunks/ssr/node_modules_next_dist_client_components_builtin_unauthorized_15817684.js.map
.next/dev/static/chunks/_8ed6d588._.js
.next/dev/static/chunks/_8ed6d588._.js.map
.next/dev/static/chunks/_030dc059._.js
.next/dev/static/chunks/_030dc059._.js.map
.next/dev/static/chunks/_414aec83._.js
.next/dev/static/chunks/_414aec83._.js.map
.next/dev/static/chunks/_45210fd5._.js.map
.next/dev/static/chunks/_a0ff3932._.js
.next/dev/static/chunks/_c3e00e2e._.js
.next/dev/static/chunks/_c3e00e2e._.js.map
.next/dev/static/chunks/\[next]_internal_font_google_courier_prime_caaab92d_module_css_bad6b30c._.single.css
.next/dev/static/chunks/\[next]_internal_font_google_courier_prime_caaab92d_module_css_bad6b30c._.single.css.map
.next/dev/static/chunks/\[next]_internal_font_google_jetbrains_mono_38c99671_module_css_bad6b30c._.single.css
.next/dev/static/chunks/\[next]_internal_font_google_jetbrains_mono_38c99671_module_css_bad6b30c._.single.css.map
.next/dev/static/chunks/\[root-of-the-server]__c884a1cb._.css
.next/dev/static/chunks/\[root-of-the-server]__c884a1cb._.css.map
.next/dev/static/chunks/\[turbopack]_browser_dev_hmr-client_hmr-client_ts_bae88007._.js
.next/dev/static/chunks/\[turbopack]_browser_dev_hmr-client_hmr-client_ts_bae88007._.js.map
.next/dev/static/chunks/\[turbopack]_browser_dev_hmr-client_hmr-client_ts_c8c997ce._.js
.next/dev/static/chunks/\[turbopack]_browser_dev_hmr-client_hmr-client_ts_c8c997ce._.js.map
.next/dev/static/chunks/\[turbopack]_browser_dev_hmr-client_hmr-client_ts_f26f265a._.js
.next/dev/static/chunks/app_globals_css_bad6b30c._.single.css
.next/dev/static/chunks/app_globals_css_bad6b30c._.single.css.map
.next/dev/static/chunks/app_layout_tsx_78cdd4a3._.js
.next/dev/static/chunks/app_page_tsx_36c44d03._.js
.next/dev/static/chunks/node_modules_@swc_helpers_cjs_d80fb378._.js
.next/dev/static/chunks/node_modules_@swc_helpers_cjs_d80fb378._.js.map
.next/dev/static/chunks/node_modules_56974a2a._.js
.next/dev/static/chunks/node_modules_56974a2a._.js.map
.next/dev/static/chunks/node_modules_next_dist_7a8122d0._.js
.next/dev/static/chunks/node_modules_next_dist_7a8122d0._.js.map
.next/dev/static/chunks/node_modules_next_dist_094231d7._.js
.next/dev/static/chunks/node_modules_next_dist_094231d7._.js.map
.next/dev/static/chunks/node_modules_next_dist_build_polyfills_polyfill-nomodule.js
.next/dev/static/chunks/node_modules_next_dist_client_aaee43fe._.js
.next/dev/static/chunks/node_modules_next_dist_client_aaee43fe._.js.map
.next/dev/static/chunks/node_modules_next_dist_client_components_builtin_global-error_78cdd4a3.js
.next/dev/static/chunks/node_modules_next_dist_compiled_a0e4c7b4._.js
.next/dev/static/chunks/node_modules_next_dist_compiled_a0e4c7b4._.js.map
.next/dev/static/chunks/node_modules_next_dist_compiled_next-devtools_index_1dd7fb59.js
.next/dev/static/chunks/node_modules_next_dist_compiled_next-devtools_index_1dd7fb59.js.map
.next/dev/static/chunks/node_modules_next_dist_compiled_react-dom_1e674e59._.js
.next/dev/static/chunks/node_modules_next_dist_compiled_react-dom_1e674e59._.js.map
.next/dev/static/chunks/node_modules_next_dist_compiled_react-server-dom-turbopack_9212ccad._.js
.next/dev/static/chunks/node_modules_next_dist_compiled_react-server-dom-turbopack_9212ccad._.js.map
.next/dev/static/chunks/turbopack-_45210fd5._.js
.next/dev/static/development/_buildManifest.js
.next/dev/static/development/_clientMiddlewareManifest.json
.next/dev/static/development/_ssgManifest.js
.next/dev/static/media/3fe682a82f50d426-s.23358719.woff2
.next/dev/static/media/5f440d3eea613716-s.p.827d5469.woff2
.next/dev/static/media/7f6e389592deb6d0-s.d63f2443.woff2
.next/dev/static/media/13bf9871fe164e7f-s.f2220059.woff2
.next/dev/static/media/69c6d7b79c8b79fe-s.05f616b6.woff2
.next/dev/static/media/70bc3e132a0a741e-s.p.15008bfb.woff2
.next/dev/static/media/71b036adf157cdcf-s.bd5f4d11.woff2
.next/dev/static/media/87d3ffffac5dafea-s.p.ce7264d2.woff2
.next/dev/static/media/89b21bb081cb7469-s.51c18f09.woff2
.next/dev/static/media/cc545e633e20c56d-s.f6f1950f.woff2
.next/dev/types/cache-life.d.ts
.next/dev/types/routes.d.ts
.next/dev/types/validator.ts
